*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: auto;
    overflow-x: hidden;
    height: 200vh;
    z-index: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: poppins;
}
nav{
    z-index: 2;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 3;
}
.first-back a,.first-back a:visited{
    text-decoration: underline;
    color: black;
}

.span-special{
    font-size: 125%;
    font-weight: bold;
}
.sliding-text{
    display: flex;
    overflow: hidden;
}
.sliding-text h2{
    white-space: nowrap;
    padding-left: 20%;
    animation: sliding 4s infinite linear;
    margin-top: 0;
    margin-bottom: 0;
}

.sliding-text h3{
    margin-top: 0;
    white-space: nowrap;
    padding-left: 5%;
    padding-top: 1.5%;
    animation: sliding 4s infinite linear;
}
.logo-nav div{
    opacity: 0;
    width: 100%;
    animation: logo-appear 0.5s ease forwards;
    animation-duration: 2.2s;
    animation-delay: 3.7s;
    font-size: 100%;
    position: sticky;
}
/* FIRST CARD */
.first:hover > .first-card{
    transform: rotateY(180deg);
}
.first-card{
    width: 100%;
    height: 100%; 
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}
.first-front,
.first-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}
.first-front{
    background: rgb(77,204,255);
    background: linear-gradient(90deg, rgba(77,204,255,1) 0%, rgba(95, 130, 236, 0.750) 100%);
}
.first-back{
    padding: 5%;
    transform: rotateY(180deg);
    background: rgb(255,145,86);
    background: linear-gradient(270deg, rgba(255,145,86,1) 0%, rgba(246,113,98,1) 100%);
    text-align: center;
}
.first-back div i,
.second-back div i,
.third-back div i{
    margin-top: 20%;
}
.first-back div,
.second-back div,
.third-back div{
    padding-top: 7%;
    font-size: 120%;
    color: black;
}
/*----------------------------*/
/* SECOND CARD */
.second:hover > .second-card{
    transform: rotateY(180deg);
}
.second-card{
    width: 100%;
    height: 100%; 
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}
.second-front,
.second-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}
.second-front{
    background: rgb(77,204,255);
    background: linear-gradient(90deg, rgba(95, 130, 236, 0.750) 100%, rgba(77,204,255,1) 0%);
}
.second-back{
    padding: 5%;
    transform: rotateY(180deg);
    background: rgb(255,145,86);
    background: linear-gradient(270deg, rgba(255,145,86,1) 0%, rgba(246,113,98,1) 100%);
    text-align: center;
}
/*----------------------------*/
/* THIRD CARD */
.third:hover > .third-card{
    transform: rotateY(180deg);
}
.third-card{
    width: 100%;
    height: 100%; 
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    
}
.third-front,
.third-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}
.third-front{
    background: rgb(77,204,255);
    background: linear-gradient(90deg, rgba(95, 130, 236, 0.750) 0%, rgba(77,204,255,1) 100%);
}
.third-back{
    padding: 5%;
    transform: rotateY(180deg);
    background: rgb(255,145,86);
    background: linear-gradient(270deg, rgba(255,145,86,1) 0%, rgba(246,113,98,1) 100%);
    text-align: center;
}
/*----------------------------*/
 
/* CONTAINER */
.container-logo{
    position: absolute;
    width: 100%;
    display: flex;      /*mobile change: flex-->none*/
    margin: 10% 0 0 25%;
    animation: logo-disappear 1s forwards ease;
    animation-delay:3s;
}
.first{
    opacity: 0;
    font-size: 1.2em;
    position: relative;
    height: 57vh;
    animation: languages-appear1 2s ease forwards;
    animation-delay: 3.5s;
    color: black;
    flex-direction: column;
    max-width: 100%;
    width: 24%;
    min-height: 200px;
    z-index: 2;
}

.second{
    opacity: 0;
    font-size: 1.2em;
    position: relative;
    height: 57vh;
    animation: languages-appear2 2s ease forwards;
    color: black;
    flex-direction: column;
    max-width: 100%;
    width: 24%;
    animation-delay: 3.7s;
    z-index: 2;
}
.third{
    opacity: 0;
    font-size: 1.2em;
    position: relative;
    height: 57vh;
    animation: languages-appear3 2s ease forwards;
    color: black;
    flex-direction: column;
    max-width: 100%;
    width: 24%;
    animation-delay: 3.9s;
    z-index: 2;
}
.container-lng{
    position: relative;
    display: flex;
    margin-top: 15%;
    width: 100%;
    opacity: 1;
    justify-content: space-around;
    flex-direction: row;
}
.logo-nav{
    font-size: 2rem;
    padding-top: 1%;
    padding-left: 1%;
}
/*----------------------------*/

/* SECTION*/
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 5vh;
}
.section.entrato .testo1{
    transform: scale(1.2);      /*mobile change: scale 1.2 --> 1*/
    opacity: 1;
    padding: 0;
}
.section.entrato .testo2{
    transform: scale(1.2);      /*mobile change: scale 1.2 --> 1*/
    opacity: 1;
    padding: 0;
}
.section.oggettoDaVedere.entrato{
    z-index: 2;
}
.testo1{
    width: 100%;
    height: 100vh;
    opacity: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.descrizione1{
    margin-left: 3%;
    max-width: 40%;
}
.descrizione2{
    margin-left: 2%;            /*mobile change: max-width 40-->0*/
    max-width: 40%;
}
.testo1 a:visited, .testo1 a{
    color: black;
}
.testo1 a:hover{
    animation: change-color ease forwards;
    animation-duration: .5s;
}
.testo-stile-1{
    font-size: .6em;
    font-weight: 200;
    z-index: 1;
}
.testo-bold{
    font-weight: 400;
}
.full-size-img{
    display: flex;
}
.mobile-size-img{
    display: none;
}
/*----------------------------*/
/* ICONS */
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.social{
    position:fixed;
    margin-top: 43%;
    margin-left: 92%;
    z-index: 3;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon a:visited, .wrapper .icon a{
    text-decoration: none;
    color: black;
}
.social .wrapper a:visited, .social .wrapper a{
    text-decoration: none;
    color: black;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: black;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #333333;
    color: white
}


.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
/*----------------------------*/
#logo{
    position: absolute;
    max-width: 50%;
    height: 10vh;
    transform: translate(0);
    animation: fill 0.5s ease forwards;
    animation-delay: 2.2s;
}
#logo path:nth-child(1){
    stroke-dasharray: 439.03363037109375;
    stroke-dashoffset: 439.03363037109375;
    animation: char-animation 0.6s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 202.72799682617188;
    stroke-dashoffset: 202.72799682617188;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.15s;
}
#logo path:nth-child(3){
    stroke-dasharray: 671.0458984375;
    stroke-dashoffset: 671.0458984375;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.3s;
}
#logo path:nth-child(4){
    stroke-dasharray: 503.06695556640625;
    stroke-dashoffset: 503.06695556640625;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.45s;
}
#logo path:nth-child(5){
    stroke-dasharray: 537.3182373046875;
    stroke-dashoffset: 537.3182373046875;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.60s;
}
#logo path:nth-child(6){
    stroke-dasharray: 412.41595458984375;
    stroke-dashoffset: 412.41595458984375;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.75s;
}
#logo path:nth-child(7){
    stroke-dasharray: 452.04638671875;
    stroke-dashoffset: 452.04638671875;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 0.9s;
}
#logo path:nth-child(8){
    stroke-dasharray: 435.81512451171875;
    stroke-dashoffset: 435.81512451171875;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 1.05s;
}
#logo path:nth-child(9){
    stroke-dasharray: 439.0347900390625;
    stroke-dashoffset: 439.0347900390625;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 1.20s;
}
#logo path:nth-child(10){
    stroke-dasharray: 435.81512451171875;
    stroke-dashoffset: 435.81512451171875;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 1.35s;
}
#logo path:nth-child(11){
    stroke-dasharray: 488.05975341796875;
    stroke-dashoffset: 488.05975341796875;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 1.5s;
}
#logo path:nth-child(12){
    stroke-dasharray: 201.72802734375;
    stroke-dashoffset: 201.72802734375;
    animation: char-animation 0.6s ease forwards;
    animation-delay: 1.65s;
}
/* KEYFRAME */
@keyframes sliding{
    0%{
        transform: translate(0%, 0);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes char-animation{
     to {
        stroke-dashoffset: 0 ;
     }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: black;
    }
}
@keyframes logo-disappear{
    100%{
        opacity: 0%;
    }
}
@keyframes logo-appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes languages-appear1{
    100%{opacity: 1;transform: translateX(0%);}
    0%{transform: translatex(-200%);}
}
@keyframes languages-appear2{
    100%{opacity: 1;transform: translateX(0%);}
    0%{transform: translatex(-300%);}
}
@keyframes languages-appear3{
    100%{opacity: 1;transform: translateX(0%);}
    0%{transform: translatex(-400%);}
}
@keyframes change-color{
    0%{
        color: black;
    }
    100%{
        color: #F29C46;
    }
}
/*----------------------------*/